* {
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 800px;
  margin: 0;

}

.sky {
  background-image: url("imgs/stars.png");
  background-color: black;
  width: 1350px;
  height: 800px;
  animation: Moving 25s linear infinite both;
}

.sun-orbit {
  width: 600px;
  height: 370px;

  border-radius: 75%;
  position: absolute;
  left: 25%;
  top: 20%;
  animation: rotate 15s linear infinite;
}

.sun {
  top: 50%;
  border: 1px solid yellow;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(203deg, yellow, orange);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  box-shadow: 0 0 62px #ffef00;
  animation: shadow 4s linear infinite both;
}

.earth-orbit {
  width: 150px;
  height: 140px;


  animation: rotate 5s linear infinite reverse;
}

.earth-orbit img {
  position: absolute;
  top: 14%;
  left: 24%;

}

.moon {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  background-image: linear-gradient(203deg, white, #ebebeb);
  box-shadow: 0 0 39px #9d9c9c;
  position: absolute;
  top: -34%;
  left: 37%;
}

@keyframes Moving {
  from {
    background-position-x: 0%;

  }

  to {
    background-position-x: 180%;

  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 25px #ffef00;
  }

  30% {
    box-shadow: 0 0 53px #ffef00;
  }

  60% {
    box-shadow: 0 0 62px #ffef00;
  }

  75% {
    box-shadow: 0 0 53px #ffef00;
  }

  100% {
    box-shadow: 0 0 15px #ffef00;
  }
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);

  }

  100% {
    transform: rotate(360deg);
  }
}